{% extends 'Admin.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block adminTemplate %}
    <h2>{{ t('role.admin') }}</h2>
    <a href="{{ tl('adminRole', {'id': 0}) }}" class="button__no">
        <i class="fa fa-plus button__add">
            <span class="button__inner">
                {{ t('role.new') }}
            </span>
        </i>
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ t('role.name') }}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for role in context.roles %}
            <tr>
                <td>
                    {{ role.name }}
                </td>
                <td>
                    <a class="admin_speltak-link" href="{{ tl('adminRole', {'id': role.id}) }}">
                        <i class="fa fa-wrench button__edit"></i>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ tl('serviceRoleDelete') }}">
                        <input type="hidden" name="roleId" value="{{ role.id }}"/>
                        <button type="submit" class="button__no">
                            <i class="fa fa-times button__remove"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% if context.roles|length <= 0 %}
            <tr>
                <td class="text-center" colspan="5">
                    {{ t('role.noItems') }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}