{% extends 'Admin.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block adminTemplate %}
    <script src="/js/dropzone.js"></script>
    <h2>{{ t('album.edit') }}</h2>
    <form method="post" action="{{ tl('serviceAlbumSave') }}" enctype="multipart/form-data">
        <input type="hidden" name="albumId" value="{{ context.album.id }}"/>
        <div class="row">
            <div class="col-xs-12">
                <label for="name">{{ t('album.name') }}</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ context.album.name }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="description">{{ t('album.description') }}</label>
                <textarea id="description" class="form-control js-wysiwyg" name="description">{{ context.album.description }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="private">
                    <input type="checkbox" name="private" id="private" {{ context.album.private ? 'checked="checked"' }}/>
                    {{ t('album.private') }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="category">{{ t('album.category') }}</label>
                <select id="category" name="category" class="form-control">
                    {% for category in context.categories %}
                        <option value="{{ category.id }}" {{ category.id == context.album.category ? 'selected="selected"' }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="thumbnail">
                    {{ t('album.thumbnail') }}
                    <input type="file" name="thumbnail" id="thumbnail">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success">
                    {{ t('common.save') }}
                </button>
            </div>
        </div>
    </form>

    {% if context.album.id > 0 %}
        {% set categoryName = '' %}
        {% for category in context.categories %}
            {% if category.id == context.album.category %}
                {% set categoryName = category.name %}
            {% endif %}
        {% endfor %}
        <button class="btn btn-success customDropzone" data-url="{{ tl('serviceAlbumUpload', {'id': context.album.id}) }}/" data-prefix="/upload/{{ categoryName }}/{{ context.albumHash }}/">Add file</button>
        <table id="fileTable" class="table">
            <thead>
            <tr>
                <th>{{ t('picture.thumb') }}</th>
                <th>{{ t('picture.name') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for picture in context.pictures %}
                <tr>
                    <td>
                        <img src="/upload/{{ categoryName }}/{{ context.albumHash }}/{{ picture.location }}" style="max-width: 32px"/>
                    </td>
                    <td>
                        {{ picture.location }}
                    </td>
                    <td>
                        <form method="post" action="{{ tl('servicePictureDelete') }}">
                            <input type="hidden" name="pictureId" value="{{ picture.id }}"/>
                            <button type="submit" class="button__no">
                                <i class="fa fa-times button__remove"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}