{% extends 'Admin.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block adminTemplate %}
    <h2>{{ t('download.admin') }}</h2>
    {% set canEdit = false %}
    {% for permission in permissions %}
        {% if permission matches '{download.\.[a-zA-Z0-9]+\.edit}' %}
            {% set canEdit = true %}
        {% endif %}
    {% endfor %}
    {% if canEdit == true %}
        <a href="{{ tl('adminDownload', {'id': 0}) }}" class="button__no">
            <i class="fa fa-plus button__add">
                <span class="button__inner">
                    {{ t('download.new') }}
                </span>
            </i>
        </a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ t('download.name') }}</th>
            <th>{{ t('download.type') }}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for download in context.downloads %}
            <tr>
                <td>
                    {{ download.name }}
                </td>
                <td>
                    {{ download.type }}
                </td>
                <td>
                    <a class="admin_speltak-link" href="{{ tl('adminDownload', {'id': download.id}) }}">
                        <i class="fa fa-wrench button__edit"></i>
                    </a>
                </td>
                <td>
                    {% if 'download.' ~ download.type ~ '.edit' in permissions %}
                        <form method="post" action="{{ tl('serviceDownloadDelete') }}">
                            <input type="hidden" name="itemId" value="{{ download.id }}"/>
                            <button type="submit" class="button__no">
                                <i class="fa fa-times button__remove"></i>
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if context.downloads|length <= 0 %}
            <tr>
                <td class="text-center" colspan="4">
                    {{ t('download.noItems') }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}