{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>
    <section class="section__padded">
        <div class="container">
            <h2>Fotoalbums</h2>
            <div class="row">
                {% for album in context.albums %}
                    {% set categoryName = '' %}
                    {% for category in context.categories %}
                        {% if category.id == album.category %}
                            {% set categoryName = category.name %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-xs-12 col-sm-4">
                        <a href="/fotos/{{ categoryName }}/{{ album.slug }}" class="album">
                            <div class="album__thumb">
                                <img class="album__thumb-image" src="/upload/{{ categoryName }}/{{ album.thumbnail }}"/>
                            </div>
                            <div class="album__title">
                                {{ album.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
