{% import 'macros.html.twig' as macros %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="">

    {% set gaCode = s('google-analytics') %}
    {% set gtmCode = s('google-tagmanager') %}
    {% if (gtmCode is not null) %}
        {{ macros.googleTagManager(gtmCode) }}
    {% elseif (gaCode is not null) %}
        {{ macros.googleAnalytics(gaCode) }}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/compiled.php" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    {{ block('template') }}
    <section id="sitemap">
        <div class="section-contents">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>Algemeen</h3>
                    <ul class="sitemap__list">
                        {% for page in pages %}
                            <li class="sitemap__item">
                                <a href="/{{ page.slug }}" class="sitemap__link">{{ page.title|capitalize }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Speltakken</h3>
                    <ul class="sitemap__list">
                        {% for group in groups %}
                            <li class="sitemap__item">
                                <a href="{{ tl('speltak', {'name': group.name}) }}" class="sitemap__link">{{ group.name|capitalize }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Foto's</h3>
                    <ul class="sitemap__list">
                        {% for category in albumCategories %}
                            <li class="sitemap__item">
                                <a href="{{ tl('albums', {'category': category.name}) }}" class="sitemap__link">{{ category.name|capitalize }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
