{% macro nav(menu) %}
    <nav class="navbar transparent">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for menuItem in menu %}
                    <li>
                        <a href="{{ menuItem.url }}" {% if menuItem.subItems|length > 0 %}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ menuItem.name }}</a>
                        {% if menuItem.subItems|length > 0 %}
                        <ul class="dropdown-menu">
                            {% for subItem in menuItem.subItems %}
                                <li>
                                    <a href="{{ subItem.url }}">{{ subItem.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endmacro %}

{% macro adminSidebar(permissions, active) %}
        <div class="adminmenu">
            <h2 class="adminmenu__brand">
                <a href="{{ tl('admin') }}" class="adminmenu__brand-link">FLG Admin</a>
            </h2>
            <i class="fa fa-bars adminmenu__toggle" data-toggle="collapse" data-target="#menu-content"></i>
            <ul class="adminmenu__list collapse out" id="menu-content">
                <li class="adminmenu__list-item">
                    <a href="{{ tl('adminMyAccount') }}" class="adminmenu__list-item-link">
                        {{ t('admin.nav.myAccount') }}
                    </a>
                </li>
                {% if 'user.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'user' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminUsers') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.users') }}
                        </a>
                    </li>
                {% endif %}
                {% if 'role.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'role' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminRoles') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.roles') }}
                        </a>
                    </li>
                {% endif %}
                {% if 'news.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'news' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminNews') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.news') }}
                        </a>
                    </li>
                {% endif %}
                {% set hasGroupPermission = false %}
                {% for permission in permissions %}
                    {% if permission matches '{group\.[a-zA-Z0-9]+\.view}' %}
                        {% set hasGroupPermission = true %}
                    {% endif %}
                {% endfor %}
                {% if hasGroupPermission == true %}
                    <li class="adminmenu__list-item {{ active == 'group' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminGroups') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.groups') }}
                        </a>
                    </li>
                {% endif %}
                {% if 'calender.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'calender' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminCalender') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.calender') }}
                        </a>
                    </li>
                {% endif %}
                {% set hasAlbumPermission = false %}
                {% for permission in permissions %}
                    {% if permission matches '{album\.[a-zA-Z0-9]+\.view}' %}
                        {% set hasAlbumPermission = true %}
                    {% endif %}
                {% endfor %}
                {% if hasAlbumPermission == true %}
                    <li class="adminmenu__list-item {{ active == 'album' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminAlbums') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.albums') }}
                        </a>
                    </li>
                {% endif %}

                {% set hasDownloadPermission = false %}
                {% for permission in permissions %}
                    {% if permission matches '{download\.[a-zA-Z0-9]+\.view}' %}
                        {% set hasDownloadPermission = true %}
                    {% endif %}
                {% endfor %}
                {% if hasDownloadPermission == true %}
                    <li class="adminmenu__list-item {{ active == 'download' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminDownloads') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.downloads') }}
                        </a>
                    </li>
                {% endif %}
                {% if 'pages.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'page' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminPages') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.pages') }}
                        </a>
                    </li>
                {% endif %}
                {% if 'menu.edit' in permissions %}
                    <li class="adminmenu__list-item {{ active == 'menu' ? 'adminmenu__list-item--active' }}">
                        <a href="{{ tl('adminMenu') }}" class="adminmenu__list-item-link">
                            {{ t('admin.nav.menu') }}
                        </a>
                    </li>
                {% endif %}
                <li class="adminmenu__list-item">
                    <a href="{{ tl('adminLogout') }}" class="adminmenu__list-item-link">
                        {{ t('admin.nav.logout') }}
                    </a>
                </li>
            </ul>
        </div>
{% endmacro %}

{% macro wysiwyg() %}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
{% endmacro %}

{% macro permissionCheckbox(name, allPermissions) %}
    <input type="checkbox" name="permission[{{ name }}]" {% for permission in allPermissions %}{% if permission.name == name %}checked="checked"{% endif %}{% endfor %}/>
{% endmacro %}

{% macro googleAnalytics(gaCode) %}
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ gaCode }}', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
{% endmacro %}

{% macro googleTagManager(gtmCode) %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ gtmCode }}');</script>
    <!-- End Google Tag Manager -->
{% endmacro %}
