{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav(menu) }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>{{ s('groupName') }}</h1>
        </div>
    </div>
    <section id="info" class="section__padded">
        <div class="container">
            <h2>
                {{ context.article.title }}
            </h2>
            <small>{{ context.article.published }}</small>
            <hr/>
            <div>
                {{ context.article.content|raw }}
            </div>
            <small><a href="{{ tl('news') }}" class="btn btn-success">< {{ t('common.back') }}</a></small>
        </div>
    </section>
{% endblock %}
