{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav(menu) }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>
                {{ context.page.title|capitalize }}
            </h1>
            <h2>{{ s('groupName') }}</h2>
        </div>
    </div>
    <section class="section__padded">
        <div class="container">
            <h2>
                {{ context.page.title|capitalize }}
            </h2>
            {{ context.page.content|raw }}
        </div>
    </section>
{% endblock %}
